<!DOCTYPE html>
<html lang="en">
<head>
  #{ include('$meta.html') }#
  <title>#{ title }#</title>
  #{ include('$lib.html') }#
</head>
<body>
  #{ include('$appbar.html') }#
  #{ include('$drawer.html') }#
  <main class="mdc-top-app-bar--fixed-adjust">
    <section>
      <h1 class="hidden offset">Biology</h1>
      <hr class="compressed">
      <p class="hidden offset" style="text-align: center;">Answer topic questions individually or build a custom quiz!</p>
      <div class="mdc-data-table hidden">
        <div class="mdc-data-table__table-container">
          <table class="mdc-data-table__table">
            <thead>
              <tr class="mdc-data-table__header-row">
                <th class="mdc-data-table__header-cell mdc-data-table__header-cell--checkbox" role="columnheader" scope="col">
                  <div class="mdc-checkbox mdc-data-table__header-row-checkbox">
                    <input type="checkbox" class="mdc-checkbox__native-control" aria-label="Toggle all rows"/>
                    <div class="mdc-checkbox__background">
                      <svg class="mdc-checkbox__checkmark" viewBox="0 0 24 24">
                        <path class="mdc-checkbox__checkmark-path" fill="none" d="M1.73,12.91 8.1,19.28 22.79,4.59" />
                      </svg>
                      <div class="mdc-checkbox__mixedmark"></div>
                    </div>
                    <div class="mdc-checkbox__ripple"></div>
                  </div>
                </th>
                <th class="mdc-data-table__header-cell" role="columnheader" scope="col">Topic</th>
                <th class="mdc-data-table__header-cell" role="columnheader" scope="col">Average Difficulty</th>
                <th class="mdc-data-table__header-cell" role="columnheader" scope="col">Length</th>
              </tr>
            </thead>
            <tbody class="mdc-data-table__content">
              <!-- <tr data-row-id="u0" class="mdc-data-table__row">
                <td class="mdc-data-table__cell mdc-data-table__cell--checkbox">
                  <div class="mdc-checkbox mdc-data-table__row-checkbox">
                    <input type="checkbox" class="mdc-checkbox__native-control" aria-labelledby="u0"/>
                    <div class="mdc-checkbox__background">
                      <svg class="mdc-checkbox__checkmark" viewBox="0 0 24 24">
                        <path class="mdc-checkbox__checkmark-path" fill="none" d="M1.73,12.91 8.1,19.28 22.79,4.59" />
                      </svg>
                      <div class="mdc-checkbox__mixedmark"></div>
                    </div>
                    <div class="mdc-checkbox__ripple"></div>
                  </div>
                </td>
                <th class="mdc-data-table__cell" scope="row"><a href="${window.location.pathname.split('/').at(-1)}/${topic}">Cells</a></th>
                <td class="mdc-data-table__cell">Medium</td>
                <td class="mdc-data-table__cell">4</td>
              </tr> -->
            </tbody>
          </table>
        </div>
      </div>
    </section>
  </main>
  #{ include('$root.html') }#
  <script src="/#{ path }#builder.js"></script>
</body>
</html>