<section>
  <h1 class="hidden offset">Mathematics</h1>
  <hr class="compressed">
  <p class="hidden offset">This website currently follows the CIE 0580 <a href="https://www.cambridgeinternational.org/Images/597037-2023-2024-syllabus.pdf">2023 syllabus</a>!</p>
  <ul class="hidden offset">
    <li><a href="/#{ relative }#/">Number</a></li>
    <li><a href="/#{ relative }#/">Algebra</a></li>
    <li><a href="/#{ relative }#/">Graphs</a></li>
    <li><a href="/#{ relative }#/">Vectors</a></li>
    <li><a href="/#{ relative }#/">Geometry</a></li>
    <li><a href="/#{ relative }#/">Trigonometry</a></li>
    <li><a href="/#{ relative }#/">Measurement</a></li>
    <li><a href="/#{ relative }#/">Probability</a></li>
    <li><a href="/#{ relative }#/">Statistics</a></li>
  </ul>
</section>