<section>
  <h1 class="hidden offset">Mathematics</h1>
  <hr class="compressed">
  <p class="hidden offset">This website currently follows the CIE 0580 <a href="https://www.cambridgeinternational.org/Images/597037-2023-2024-syllabus.pdf">2023 syllabus</a>!</p>
  <ul class="hidden offset">
    <li><a href="/%{ relative }%/number">Number</a></li>
    <li><a href="/%{ relative }%/algebra">Algebra</a></li>
    <li><a href="/%{ relative }%/graphs">Graphs</a></li>
    <li><a href="/%{ relative }%/vectors">Vectors</a></li>
    <li><a href="/%{ relative }%/geometry">Geometry</a></li>
    <li><a href="/%{ relative }%/trigonometry">Trigonometry</a></li>
    <li><a href="/%{ relative }%/measurement">Measurement</a></li>
    <li><a href="/%{ relative }%/probability">Probability</a></li>
    <li><a href="/%{ relative }%/statistics">Statistics</a></li>
  </ul>
</section>