<header class="mdc-top-app-bar">
  <div class="mdc-top-app-bar__row">
    <section class="mdc-top-app-bar__section mdc-top-app-bar__section--align-start">
      <button class="material-symbols-rounded mdc-top-app-bar__navigation-icon mdc-icon-button" aria-label="Open navigation menu">
        <div class="mdc-icon-button__ripple"></div>
        menu
      </button>
      <span class="mdc-top-app-bar__title">#{ title }#</span>
    </section>
    <section class="mdc-top-app-bar__section mdc-top-app-bar__section--align-end" role="toolbar">
      <label class="mdc-text-field mdc-text-field--filled">
        <span class="mdc-text-field__ripple"></span>
        <span class="mdc-floating-label" id="search-label">Search</span>
        <input class="mdc-text-field__input" type="text" aria-labelledby="search-label">
        <span class="mdc-line-ripple"></span>
      </label>
      <button class="material-symbols-rounded mdc-top-app-bar__action-item mdc-icon-button" aria-label="Search">
        <div class="mdc-icon-button__ripple"></div>
        search
      </button>
      <button class="material-symbols-rounded mdc-top-app-bar__action-item mdc-icon-button" aria-label="Options">
        <div class="mdc-icon-button__ripple"></div>
        more_vert
      </button>
    </section>
  </div>
</header>