<div class="hero">
  <div class="hero-text">
    <h1 class="hidden offset">
      Open <span class="highlight">IGCSE</span> Initiative
    </h1>
    <hr class="compressed">
  </div>
</div>
<section class="dynamic">
  <div class="content">
    <div class="text">
      <h2 class="hidden offset">About</h2>
      <p class="hidden offset">Our goal is to provide everyone education everywhere. The Open IGCSE Initiative is a project that involves publishing free open-source IGCSE material. The development of this website started as a <strong>zero-cost</strong> <a href="https://github.com/inflictjs/inflict" target="_blank">inflict</a> application.</p>
    </div>
    <div class="graphic">
      
    </div>
  </div>
</section>