<div class="hero">
  <div class="hero-text">
    <h1 class="hidden offset">
      Open <span class="highlight">IGCSE</span> Initiative
    </h1>
    <hr class="compressed">
  </div>
</div>
<section class="dynamic">
  <div class="content">
    <div class="text">
      <h2 class="hidden offset">About</h2>
      <p class="hidden offset">Our goal is to provide everyone education everywhere. The Open IGCSE Initiative is a project that involves publishing free open-source IGCSE material. The development of this website started as a <strong>zero-cost</strong> <a href="https://github.com/inflictjs/inflict" target="_blank">inflict</a> application.</p>
    </div>
    <div class="graphic">
      <img src="svg/undraw lightbulb moment.svg" alt="">
    </div>
  </div>
  <div class="content">
    <div class="graphic">
      <img src="svg/undraw design notes.svg" alt="">
    </div>
    <div class="text">
      <h2 class="hidden offset">Website</h2>
      <p class="hidden offset">The source code for this website is available at <a href="http://github.com/intfract/igcse" target="_blank">GitHub</a> and contains a lot of files. This site incorporates asynchronous JavaScript and JSON technology to deilver content from our free API. Sometimes, old content may flash before it is replaced when images are being loaded. It is important to wait for the site to load before any interaction takes place.</p>
    </div>
  </div>
</section>