<aside class="mdc-drawer mdc-drawer--modal">
  <div class="mdc-drawer__content">
    <div class="drawer-header">
      <div class="drawer-avatar">
        <img src="https://lh3.googleusercontent.com/a/AGNmyxazJj6F8Pn2Tr9JReJaK_x5Z4UXDI4beNPgFRaO=s96-c-rg-br100" alt="Int Fract">
      </div>
      <div class="drawer-details">
        <span class="username">Int Fract</span>
      </div>
    </div>
    <nav class="mdc-list">
      <a class="mdc-list-item" href="#{ path }#" tabindex="0">
        <span class="mdc-list-item__ripple"></span>
        <i class="material-symbols-rounded mdc-list-item__graphic" aria-hidden="true">home</i>
        <span class="mdc-list-item__text">Home</span>
      </a>
      <a class="mdc-list-item" href="#{ path }#courses/mathematics">
        <span class="mdc-list-item__ripple"></span>
        <i class="material-symbols-rounded mdc-list-item__graphic" aria-hidden="true">calculate</i>
        <span class="mdc-list-item__text">Mathematics</span>
      </a>
      <a class="mdc-list-item" href="#{ path }#courses/computer_science">
        <span class="mdc-list-item__ripple"></span>
        <i class="material-symbols-rounded mdc-list-item__graphic" aria-hidden="true">terminal</i>
        <span class="mdc-list-item__text">Computer Science</span>
      </a>
      <a class="mdc-list-item" href="#{ path }#courses/biology">
        <span class="mdc-list-item__ripple"></span>
        <i class="material-symbols-rounded mdc-list-item__graphic" aria-hidden="true">microbiology</i>
        <span class="mdc-list-item__text">Biology</span>
      </a>
      <a class="mdc-list-item" href="#{ path }#courses/chemistry">
        <span class="mdc-list-item__ripple"></span>
        <i class="material-symbols-rounded mdc-list-item__graphic" aria-hidden="true">science</i>
        <span class="mdc-list-item__text">Chemistry</span>
      </a>
      <a class="mdc-list-item" href="#{ path }#courses/physics">
        <span class="mdc-list-item__ripple"></span>
        <i class="material-symbols-rounded mdc-list-item__graphic" aria-hidden="true">speed</i>
        <span class="mdc-list-item__text">Physics</span>
      </a>
    </nav>
  </div>
</aside>
<div class="mdc-drawer-scrim"></div>