<footer>
  <div class="buttons">
    <button class="mdc-button" onclick="window.open('/', '_self')">
      <span class="mdc-button__ripple"></span>
      <span class="mdc-button__label">Home</span>
    </button>
    <a class="mdc-button" href="https://mail.google.com/mail/u/0/?view=cm&fs=1&tf=1&to=intfract@gmail.com&subject=IGCSE" target="_blank">
      <span class="mdc-button__ripple"></span>
      <span class="mdc-button__label">Contact</span>
    </a>
    <button class="mdc-button" onclick="window.open('/questions', '_self')">
      <span class="mdc-button__ripple"></span>
      <span class="mdc-button__label">Topic Questions</span>
    </button>
    <button class="mdc-button" onclick="window.open('https://github.com/intfract/igcse')">
      <span class="mdc-button__ripple"></span>
      <span class="mdc-button__label">Contribute</span>
    </button>
  </div>
</footer>