<footer>
  <div class="buttons">
    <button class="mdc-button" onclick="window.open('/', '_self')">
      <span class="mdc-button__ripple"></span>
      <span class="mdc-button__label">Home</span>
    </button>
    <button class="mdc-button">
      <span class="mdc-button__ripple"></span>
      <span class="mdc-button__label">Contact</span>
    </button>
    <button class="mdc-button" onclick="window.open('/questions', '_self')">
      <span class="mdc-button__ripple"></span>
      <span class="mdc-button__label">Topic Questions</span>
    </button>
    <button class="mdc-button" onclick="window.open('https://github.com/intfract/igcse')">
      <span class="mdc-button__ripple"></span>
      <span class="mdc-button__label">Contribute</span>
    </button>
  </div>
</footer>