  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="The zero cost open-source IGCSE project with notes and topic questions for completely free!">

  <meta property="og:url" content="https://igcse.cyclic.app">
  <meta property="og:type" content="website">
  <meta property="og:title" content="IGCSE">
  <meta property="og:description" content="The zero cost open-source IGCSE project with notes and topic questions for completely free!">

  <meta name="theme-color" content="#2c6fef" />