<!DOCTYPE html>
<html lang="en">
<head>
  %{ include('$meta.html') }%
  <title>%{ title }%</title>
  %{ include('$lib.html') }%
</head>
<body>
  %{ include('$appbar.html') }%
  %{ include('$drawer.html') }%
  <main class="mdc-top-app-bar--fixed-adjust">
    <section>
      <h1 class="hidden offset">404</h1>
      <hr class="compressed">
      <p class="hidden offset" style="text-align: center;">Looks like a bug slipped through our defences!</p>
      <div class="vector hidden">
        <img src="%{ path }%svg/undraw server down.svg" alt="404">
      </div>
      <p class="hidden offset" style="text-align: center;">Or maybe you are lost?</p>
      <div class="links hidden">
        <a href="/">Home</a>
        <a href="/search">Search</a>
        <a href="https://github.com/intfract">Lucky</a>
      </div>
    </section>
  </main>
  %{ include('$root.html') }%
</body>
</html>