:root {
  --mdc-theme-primary: #2c6fef;
  --mdc-theme-primary-transparent: #2c6fef40;
  --mdc-theme-secondary: var(--mdc-theme-primary);
  --mdc-theme-background: #fff;
  --mdc-theme-surface: #fff;
  --mdc-theme-error: #e1503c;
  --mdc-theme-on-primary: #fff;
  --mdc-theme-on-secondary: #fff;
  --mdc-theme-on-surface: #000;
  --mdc-theme-callout: #eee;
  --mdc-warning: #eea71f20;
  --mdc-theme-text-hint-on-light: rgba(0, 0, 0, 0.24);
  --mdc-typography-font-family: 'Plus Jakarta Sans';
  --mdc-checkbox-checked-color: var(--mdc-theme-primary);
  --footer-height: 64px;
}

body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100vh;
  font-family: 'Plus Jakarta Sans';
  overflow-x: hidden;
}

a, button, input, textarea {
  outline: none;
  border: 0;
  font-family: 'Plus Jakarta Sans';
  text-decoration: none;
}

p a, li a, section a {
  color: var(--mdc-theme-primary);
  text-decoration: none;
  opacity: 1;
  transition: 0.3s;
}

p a:hover, li a:hover, section a:hover {
  opacity: 0.75;
}

.links {
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: opacity 0.3s ease-out;
}

h1, h2, h3, p, ul {
  opacity: 1;
  transform: translate(0);
  transition: opacity 0.3s ease-out, transform 0.3s ease-out;
}

h1, h2, h3 {
  margin-block: 1em 0.5em;
}

h1 {
  text-align: center;
  color: var(--mdc-theme-on-surface);
  font-size: 48px;
}

h2 {
  color: var(--mdc-theme-on-surface);
  font-size: 32px;
}

h3 {
  color: var(--mdc-theme-on-surface);
  font-size: 24px;
}

hr {
  width: 100%;
  border: 1px var(--mdc-theme-text-hint-on-light) solid;
  box-sizing: border-box;
  transition: width 0.3s ease-out;
}

.hero hr {
  border: 1px var(--mdc-theme-on-surface) solid;
}

main section {
  width: 100%;
  max-width: 800px;
  margin: auto;
  padding-bottom: 40px;
}

main section.dynamic {
  width: 100%;
  max-width: none;
}

section .content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 1200px;
  min-height: 320px;
  margin: auto;
}

code {
  font-family: 'Roboto Mono', monospace;
  background-color: var(--mdc-theme-callout);
  padding: 0 4px;
  border-radius: 4px;
}

.text {
  width: 50%;
}

.graphic {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 50%;
  height: 320px;
}

.graphic img {
  height: 100%;
}

main ul {
  padding: 0 0 0 20px;
  list-style-type: disc;
}

.callout {
  display: flex;
  justify-content: start;
  align-items: center;
  padding: 20px;
  width: 100%;
  background-color: var(--mdc-theme-callout);
  box-sizing: border-box;
  border-radius: 4px;
  opacity: 1;
  transform: scale(1);
  transition: transform 0.3s ease-out, opacity 0.3s ease-out;
}

.callout.warning {
  background-color: var(--mdc-warning);
}

img.emoji {
  height: 1em;
  width: 1em;
  margin: 0 .05em 0 .1em;
  vertical-align: -0.1em;
}

.callout img.emoji {
  font-size: 24px;
}

.emoji-container {
  margin-right: 20px;
}

.diagram {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  opacity: 1;
  transform: scale(1);
  transition: opacity 0.3s ease-out;
}

.diagram img {
  width: 100%;
}

.vector {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 16px;
  box-sizing: border-box;
  transition: opacity 0.3s ease-out;
}

.vector img {
  width: 50%;
}

.columns {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.columns > ul, .columns > p, .columns > .column, .columns > div {
  width: 45%;
}

.plus {
  color: var(--mdc-theme-primary);
  list-style-type: '+   ';
}

.minus {
  color: var(--mdc-theme-error);
  list-style-type: '-   ';
}

.equation {
  margin-block: 1em 1em;
  text-align: center;
}

.mdc-linear-progress--closed {
  display: none;
}

.mdc-data-table {
  width: 100%;
  opacity: 1;
  transition: opacity 0.3s ease-out;
}

.mdc-data-table__row {
  transition: background-color 0.1s linear;
}

.mdc-data-table__row--selected {
  background-color: var(--mdc-theme-primary-transparent);
}

button, .mdc-button {
  text-transform: none;
  transition: all 0.3s;
}

.search-cards {
  margin: 16px 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.search-actions {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.search-actions .mdc-text-field {
  margin-right: 16px;
}

form {
  margin: 16px 0;
  padding: 32px;
  width: 100%;
  border-radius: 4px;
  box-shadow: none;
  box-sizing: border-box;
  border: 1px solid var(--mdc-theme-callout);
  overflow: hidden;
}

form h3 {
  margin-block: 0;
}

form img {
  width: 50%;
}

.quiz {
  min-height: 800px;
}

.mdc-card {
  margin: 16px 0;
  width: 320px;
  max-height: 480px;
  border-radius: 4px;
  box-shadow: none;
  border: 1px solid var(--mdc-theme-callout);
  overflow: hidden;
}

.mdc-card-wrapper__text-section {
  padding: 0 16px;
}

.mdc-card-wrapper__text-section p {
  max-height: 80px;
  overflow: hidden;
}

.mdc-card__media {
  display: flex;
  justify-content: center;
  align-items: center;
}

.mdc-card__media .material-symbols-rounded {
  font-size: 64px;
  padding: 32px;
}

.mdc-top-app-bar--fixed-adjust {
	min-height: calc(100vh - var(--footer-height));
	box-sizing: border-box;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: var(--footer-height);
}

.mdc-drawer {
  border: 0px;
}

.mdc-list-item {
  margin: 8px;
  padding: 8px;
  border-radius: 4px;
}

.mdc-list-item__text {
  margin-left: 8px;
}

.mdc-menu {
  min-width: 128px;
}

.mdc-top-app-bar .mdc-text-field--filled {
  width: 320px;
}

.mdc-top-app-bar .mdc-text-field--filled:not(.mdc-text-field--disabled) {
  background-color: var(--mdc-theme-text-hint-on-light);
}

.mdc-top-app-bar .mdc-text-field--filled .mdc-text-field__input {
  color: var(--mdc-theme-on-primary);
}

.mdc-top-app-bar .mdc-text-field--filled .mdc-line-ripple::after {
  border-bottom-color: var(--mdc-theme-on-primary);
}

.mdc-text-field--focused:not(.mdc-text-field--disabled) .mdc-floating-label {
  color: var(--mdc-theme-primary);
}

.mdc-list {
  padding: 0;
  color: var(--mdc-theme-on-surface);
}

.mdc-top-app-bar .search {
  /* align-self: flex-start; */
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 16px;
  overflow: visible;
}

.mdc-top-app-bar .search .mdc-list-group {
  position: absolute;
  height: 0;
  width: 100%;
  margin-top: 64px;
  background-color: var(--mdc-theme-background);
  border-radius: 4px;
  box-shadow: 0px 0px 4px 0px var(--mdc-theme-text-hint-on-light);
  overflow: hidden;
  transition: height 0.3s ease-out;
}

.mdc-top-app-bar .search .mdc-text-field--focused + .mdc-list-group, .mdc-top-app-bar .search .mdc-list-group:hover {
  height: fit-content;
}

.mdc-list-group__subheader {
  margin: 16px;
}

.mdc-chip {
  background-color: var(--mdc-theme-callout);
  user-select: none;
}

.mdc-chip:hover {
  color: var(--mdc-theme-on-surface);
}

.mdc-chip--selected {
  background-color: var(--mdc-theme-primary-transparent);
  color: var(--mdc-theme-primary);
}

.mdc-chip--selected:hover {
  color: var(--mdc-theme-primary);
}

.mdc-chip--selected .mdc-chip__checkmark-path {
  stroke-dashoffset: 0;
  stroke: var(--mdc-theme-primary);
}

.mdc-form-field.radio {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
}

.filter {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
}

.interactive {
  position: relative;
  display: flex;
  flex-direction: column;
}

.interactive .mdc-slider {
  margin: 0;
}

.svg-group {
  position: relative;
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  font-size: 0;
  overflow: hidden;
}

.svg {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 0;
  align-self: center;
  font-size: 0;
}

.lone {
  position: absolute;
  font-size: 0;
}

#search-label {
  color: var(--mdc-theme-on-primary);
}

#search-label + input {
  caret-color: var(--mdc-theme-on-primary);
}

.hidden {
  opacity: 0 !important;
}

.offset {
  transform: translate(0, 16px) !important;
}

.hero h1.offset {
  transform: translate(0, 100%) !important;
}

.compressed {
  width: 0;
}

.small {
  transform: scale(0.5);
}

.drawer-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 16px;
  background-color: var(--mdc-theme-primary);
  color: var(--mdc-theme-on-primary);
}

.hero h1 {
  margin: 0;
  transform: translate(0);
  transition: opacity 0.3s ease-out, transform 0.3s ease-out;
}

.hero {
  height: 100vh;
  padding-bottom: 64px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
}

.hero-text {
  overflow: hidden;
}

.highlight {
  color: var(--mdc-theme-primary);
}

.katex-display {
  font-size: 24px;
}

.katex .katex-html>.newline {
  height: 8px;
}