<section>
  <h1 class="hidden offset">Chemistry</h1>
  <hr class="compressed">
  <p class="hidden offset">This website currently follows the CIE 0580 <a href="https://www.cambridgeinternational.org/Images/595428-2023-2025-syllabus.pdf">2023 syllabus</a>!</p>
  <ul class="hidden offset">
    <li><a href="/#{ relative }#/matter">Matter</a></li>
    <li><a href="/#{ relative }#/the_periodic_table">The Periodic Table</a></li>
    <li><a href="/#{ relative }#/chemical_reactions">Chemical Reactions</a></li>
    <li><a href="/#{ relative }#/acids_and_bases">Acids and Bases</a></li>
    <li><a href="/#{ relative }#/stoichiometry">Stoichiometry</a></li>
    <li><a href="/#{ relative }#/electrolysis">Electrolysis</a></li>
    <li><a href="/#{ relative }#/metals">Metals</a></li>
    <li><a href="/#{ relative }#/evironmental_chemistry">Environmental Chemistry</a></li>
    <li><a href="/#{ relative }#/organic_chemistry">Organic Chemistry</a></li>
    <li><a href="/#{ relative }#/chemical_experiments">Chemical Experiments</a></li>
  </ul>
</section>