<section>
  <h1 class="hidden offset">Computer Science</h1>
  <hr class="compressed">
  <p class="hidden offset">This website currently follows the CIE 0478 <a href="https://www.cambridgeinternational.org/Images/595424-2023-2025-syllabus.pdf">2023 syllabus</a>!</p>
  <ul class="hidden offset">
    <li><a href="/#{ relative }#/">Data Representation</a></li>
    <li><a href="/#{ relative }#/">Data Transmission</a></li>
    <li><a href="/#{ relative }#/">Hardware</a></li>
    <li><a href="/#{ relative }#/">Software</a></li>
    <li><a href="/#{ relative }#/">The Internet</a></li>
    <li><a href="/#{ relative }#/">Emerging Technologies</a></li>
    <li><a href="/#{ relative }#/">Boolean Logic</a></li>
    <li><a href="/#{ relative }#/">Algorithms</a></li>
    <li><a href="/#{ relative }#/">Programming</a></li>
    <li><a href="/#{ relative }#/">Databases</a></li>
  </ul>
</section>