<section>
  <h1 class="hidden offset">Computer Science</h1>
  <hr class="compressed">
  <p class="hidden offset">This website currently follows the CIE 0478 <a href="https://www.cambridgeinternational.org/Images/595424-2023-2025-syllabus.pdf">2023 syllabus</a>!</p>
  <ul class="hidden offset">
    <li><a href="/#{ relative }#/data_representation">Data Representation</a></li>
    <li><a href="/#{ relative }#/data_transmission">Data Transmission</a></li>
    <li><a href="/#{ relative }#/hardware">Hardware</a></li>
    <li><a href="/#{ relative }#/software">Software</a></li>
    <li><a href="/#{ relative }#/the_internet">The Internet</a></li>
    <li><a href="/#{ relative }#/emerging_technologies">Emerging Technologies</a></li>
    <li><a href="/#{ relative }#/boolean_logic">Boolean Logic</a></li>
    <li><a href="/#{ relative }#/algorithms">Algorithms</a></li>
    <li><a href="/#{ relative }#/programming">Programming</a></li>
    <li><a href="/#{ relative }#/databases">Databases</a></li>
  </ul>
</section>