<section>
  <h1 class="hidden offset">Physics</h1>
  <hr class="compressed">
  <p class="hidden offset">This website currently follows the CIE 0625 <a href="https://www.cambridgeinternational.org/Images/595430-2023-2025-syllabus.pdf">2023 syllabus</a>!</p>
  <ul class="hidden offset">
    <li><a href="/#{ relative }#/motion">Motion</a></li>
    <li><a href="/#{ relative }#/energy">Energy</a></li>
    <li><a href="/#{ relative }#/thermal_physics">Thermal Physics</a></li>
    <li><a href="/#{ relative }#/waves">Waves</a></li>
    <li><a href="/#{ relative }#/the_electromagnetic_spectrum">The Electromagnetic Spectrum</a></li>
    <li><a href="/#{ relative }#/electricity">Electricity</a></li>
    <li><a href="/#{ relative }#/electromagnetism">Electromagnetism</a></li>
    <li><a href="/#{ relative }#/atomic_physics">Atomic Physics</a></li>
  </ul>
</section>