<section>
  <h1 class="hidden offset">Biology</h1>
  <hr class="compressed">
  <p class="hidden offset">This website currently follows the CIE 0610 <a href="https://www.cambridgeinternational.org/Images/595426-2023-2025-syllabus.pdf">2023 syllabus</a>!</p>
  <ul class="hidden offset">
    <li><a href="/#{ relative }#/cells">Cells</a></li>
    <li><a href="/#{ relative }#/biological_molecules">Biological Molecules</a></li>
    <li><a href="/#{ relative }#/plant_nutrition">Plant Nutrition</a></li>
    <li><a href="/#{ relative }#/animal_nutrition">Animal Nutrition</a></li>
    <li><a href="/#{ relative }#/plant_transport">Plant Transport</a></li>
    <li><a href="/#{ relative }#/animal_transport">Animal Transport</a></li>
    <li><a href="/#{ relative }#/respiration">Respiration</a></li>
    <li><a href="/#{ relative }#/sensitivity">Sensitivity</a></li>
    <li><a href="/#{ relative }#/genetics">Genetics</a></li>
    <li><a href="/#{ relative }#/ecology">Ecology</a></li>
  </ul>
</section>