<div class="quiz">
  <form>
    <h3 class="hidden offset">Cells</h3>
    <p class="hidden offset" id="intro">Loading...</p>
    <ol class="hidden offset"></ol>
    <img src="" alt="" style="display: none;">
    <p class="hidden offset" id="task">Loading...</p>
    <div class="mdc-form-field radio">
      <div class="mdc-touch-target-wrapper">
        <div class="mdc-radio mdc-radio--touch">
          <input class="mdc-radio__native-control" type="radio" name="radios">
          <div class="mdc-radio__background">
            <div class="mdc-radio__outer-circle"></div>
            <div class="mdc-radio__inner-circle"></div>
          </div>
          <div class="mdc-radio__ripple"></div>
        </div>
      </div>
      <label>First Option</label> 
    </div>
    <div class="mdc-form-field radio">
      <div class="mdc-touch-target-wrapper">
        <div class="mdc-radio mdc-radio--touch">
          <input class="mdc-radio__native-control" type="radio" name="radios">
          <div class="mdc-radio__background">
            <div class="mdc-radio__outer-circle"></div>
            <div class="mdc-radio__inner-circle"></div>
          </div>
          <div class="mdc-radio__ripple"></div>
        </div>
      </div>
      <label>Second Option</label>
    </div>
    <div class="mdc-form-field radio">
      <div class="mdc-touch-target-wrapper">
        <div class="mdc-radio mdc-radio--touch">
          <input class="mdc-radio__native-control" type="radio" name="radios">
          <div class="mdc-radio__background">
            <div class="mdc-radio__outer-circle"></div>
            <div class="mdc-radio__inner-circle"></div>
          </div>
          <div class="mdc-radio__ripple"></div>
        </div>
      </div>
      <label>Third Option</label>
    </div>
    <div class="mdc-form-field radio">
      <div class="mdc-touch-target-wrapper">
        <div class="mdc-radio mdc-radio--touch">
          <input class="mdc-radio__native-control" type="radio" name="radios">
          <div class="mdc-radio__background">
            <div class="mdc-radio__outer-circle"></div>
            <div class="mdc-radio__inner-circle"></div>
          </div>
          <div class="mdc-radio__ripple"></div>
        </div>
      </div>
      <label>Fourth Option</label>
    </div>
    <button class="mdc-button mdc-button--raised mdc-button--leading" id="sniper" type="submit" style="margin-top: 16px;">
      <span class="mdc-button__ripple"></span>
      <span class="mdc-button__label">Submit</span>
      <span class="mdc-button__icon material-symbols-rounded">
        arrow_forward
      </span>
    </button>
  </form>
</div>